/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
}

a {
  color: rgb(113, 57, 243);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #c23f6a;
}

a:focus {
  outline-color: #e881f1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

@media (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}

@media (min-width: 1440px) {
  .page {
    min-width: 1440px;
  }
}

.wrapper {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 1439px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #333333;
  background-color: #f0d6de;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 100;
  
  margin-bottom: 40px;
  width: 100%;
}


.nav__link {
  font-size: 25px;
  line-height: 24px;
  font-weight: 700;
  
  color: rgb(102, 85, 143);
}

#about-me:before,
#projects:before,
#certificates:before{
	display: block;
	content: "";
	height: 44px;
	margin: -44px 0 0;
}


@media (max-width: 769px) {
#about-me:before,
#projects:before,
#certificates:before{
    display: block;
    content: "";
    height: 180px;
    margin: -180px 0 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  font-weight: bold;
}

@media (max-width: 769px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__item {
  text-decoration: none;
  list-style: none;
  margin: 10px 0;
}

.main {
  margin-top: 80px;
  background-color: #ffffff;
}

@media (max-width: 769px) {
  .main {
    margin-top: 180px;
  }
}

.title {
  font-weight: 400;
  text-align: center;
  font-size: 35px;
  background: -o-radial-gradient(40% 50%, #f0d6de, #ffffff);
  background: radial-gradient(40% 50%, #f0d6de, #ffffff);
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1440px){
  .title {
    font-size: 40px;
  }
}


.about-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

.about-me__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-me__text {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  margin:0  30px;
}

@media (min-width: 769px) {
  .about-me__text {
    min-width: 410px;
  }
}

@media (max-width: 768px) {
  .about-me__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-content p {
  margin: 0 0 12px 0;
  padding: 0;
}

.project__title {
  font-size: 30px;
  color: rgb(102, 85, 143);
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
}

.projects__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 400px;
  margin-right: 10px;
} 

@media (max-width: 768px) {
  .projects__item{
    width: 100%;
    margin-right: 0;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .project {
    width: 100%;
    align-items: center;
  }
}

.project__paragraph {
  font-weight: 700;
  height: 50px;
  margin-bottom: 20px;
}

.project__gallery {
  margin-bottom: 20px;
}

.project__link {
  margin-left: 10px;
}

.project__link:hover {
  position: absolute;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition:  ease-out 0.3s;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__wrapper {
  position: relative;
}

.gallery__list {
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .gallery__list {
    width: 300px;
    height: 200px;
  }
}

.gallery__item {
  position: relative;
  z-index: 1;
  display: none;
}

.gallery__image {
  -o-object-fit:cover;
      object-fit:cover; 
  position: absolute;
  z-index: 2;
}

@media (max-width: 768px) {
  .gallery__image {
    width: 300px;
    height: 200px;
  }
}

.gallery__link {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  z-index: 3;
  opacity: 1;
  background-color: #fafafac0;
  display: none;
}

.gallery__item:hover .gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  -webkit-transition: 0.155s;
  -o-transition: 0.155s;
  transition: 0.155s;
}

.gallery__button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px -1px #adb1b6;
          box-shadow: 0 2px 4px -1px #adb1b6;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gallery__button--prev {
  left: 20px;
  background: #f0d6de url("../img/svg/arrow_left.svg") no-repeat center;
  background-size: auto;
  background-size: 35px;
}

.gallery__button--next {
  right: 20px;
  background: #f0d6de url("../img/svg/arrow_right.svg") no-repeat center;
  background-size: auto;
  background-size: 35px;
}


.gallery__button:hover {
  -webkit-transform: scale(1.1) translateY(-50%) ;
      -ms-transform: scale(1.1) translateY(-50%) ;
          transform: scale(1.1) translateY(-50%) ;
}

.gallery__item--current {
  display: block;
  -o-object-fit: cover;
      object-fit: cover;
  width: 100%;
  height: 100%;
}

.certificates {
  margin-bottom: 20px;
}

.certificates__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificates__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  max-width: 400px;
  margin: 20px;
}

.certificates__link {
  font-weight: 700;
  text-align: center;
}

.certificates__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.certificates__image {
  margin-bottom: 40px;
}

.certificates__image:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer {
  background-color: #f0d6de;
}

.footer__wrapper{
  display: flex;
justify-content: center;
}

.contacts {
  display: flex;
  font-size: 20px;
  padding: 50px 15px;
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.contacts__paragraph {
  margin: 0 20px 20px 0;
  font-weight: 700;
  color: #333333;
}

.contacts__list {
  display: flex;
}

@media (max-width: 768px) {
  .contacts__list {
    flex-direction: column;
    align-items: center;
  }
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__icon {
  fill: rgb(102, 85, 143);
  margin-right: 10px;
}

.contacts__icon:hover {
  fill: #c23f6a;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}